form button {
    padding: 3px 10px;
    margin: 10px 15px 0px 15px;
}
fieldset {
    margin: 7px;
    border-color: rgba(0, 0, 0, 0.2);
    padding: 15px;
}
#imputNome input {
    width: 42%;
    margin: 2px;
}
#imputDado input {
    width: 90%;
    margin: 5px;
}
#criarGenero label {
    margin: 15px;
}