.imgPerfil {
    height: 70px;
}
.imgCapa {
    height: 50px;
}
fieldset {
    border: none;
}
fieldset legend{
    font-weight: 900;
}
#inputFotoPerfil {
    vertical-align: top;
}
#inputFotoCapa {
    vertical-align: top;
}