h1 {
    margin: 0px;
    margin-top: 5px;
}
.figureCurso {
    text-align: center;
    margin: 0px;
}
.figureCurso img{
    height: 120px;
    width: 200px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: block;
}
#sectionCurso {
    width: 860px;
    padding: 5px 20px;
}
.nomeCategoria {
    display: block;
    position: relative;
    text-align: left;
    margin: 30px 0px 5px 0px;
    font-size: 24px;
}
.categoria {
    
    display: block;
}