#divLogo {
    width: 450px;
}
#divLogo>h2 {
    font-size: 18px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    text-align: left;
}
#divLogIn {
    width: 450px;
    text-align: center;
    padding: 20px; 
}
#formlogIn input {
    margin: 3px;
    width: 90%;
}
#formlogIn button {
    margin: 10px 5px;
    padding: 3px;
    width: 40%;
}